.login-button{

    color: white;
    background-color: #007bff;
    border: gray 1px solid;
     display: block;
    padding: 15px 32px;
    margin: 20px auto;
    border-radius: 9px;
    font-size: 120%;
    size:30px
}
.upload-button{
    color: white;
    background-color: #007bff;
    border: gray 1px solid;
     display: inline-block;
    padding: 10px 32px;
    margin: 0 0 0 310px;
    border-radius: 9px;
    font-size: 120%;
    size: 20px;
    
}

.grade-button{
    color: white;
    background-color: #007bff;
    border: gray 1px solid;
    display: inline-block;
    padding: 10px 32px;
    margin-left: 20px;
    border-radius: 9px;
    font-size: 120%;
    size: 20px;
}

.student-add-button{
    color: white;
    background-color: #007bff;
    border: gray 1px solid;
    padding: 10px 50px;
    border-radius: 9px;
    font-size: 120%;
    size: 10px;
}
.course-add-button{
    color: white;
    background-color: #007bff;
    border: gray 1px solid;
    padding: 10px 250px;
    border-radius: 9px;
    font-size: 120%;
    margin: auto;
    margin-top: 20px;
    display:flex;
    justify-content: center;
    size: 10px;
}
.assign-add-button{
    color: white;
    background-color: #007bff;
    border: gray 1px solid;
    padding: 10px 313px;
    border-radius: 9px;
    font-size: 120%;
    margin-left: 140px;
    margin-top: 20px;
    margin-bottom: 50px;
    size: 10px;
}
button{
    transition-duration: 0.4s;
    cursor: pointer;
}

a{
    text-decoration: none;
}
button:hover{
    background-color: #3b5998;
}
.button{
    color: white;
    background-color: #007bff;
    border: gray 1px solid;
    padding: 8px 12px;
    border-radius: 9px;
    font-size: 75%;
    size:15px;
    margin-right: 15%;
    margin-bottom: 10px;
}