.login-logo {  
    display: block;
    width: 200px;  
    height: 200px; 
    margin-left: auto;
    margin-right: auto; 
    }
.assign-logo{
    display: inline-block;
    width: 25px;  
    height: 25px;
    padding: 5px;
    align-items: center;
    transition-duration: 0.4s;
    cursor: pointer;
}
.class-container .assign-logo
{
    display: inline-block;
}

.radio-div{
   margin: auto;
   text-align: center;
   margin-top: 20px;
}

.login-radio{

    vertical-align: bottom;
    width: 1.3rem;
    height: 1.3rem;
    margin-left: 0 20px;
    border-radius: 10%;
    border-style: solid;
    border-width: 0.01rem;
    border-color: gray;
}

.login-radio-label{
    font-size: 20px;
    margin: 0 5px;
}

.radio-group{
    display: inline-block;
    margin: 0 20px;
}

.header-logo{
    width: 120px;  
    height: 120px; 
    margin-left: 10%;
}

.header{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.student-name{
    color: black;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
}

.navbar{
    margin-right:  10%;
}

.navbar-ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.navbar-li{
    padding: 20px;
}

body{
    font-family:Arial, Helvetica, sans-serif;
}

h1{
    color: #3b5998;
    margin-left: 140px;
}

.cards-container{
    display:flex;
    margin: auto;
    flex-wrap: wrap;
    flex-direction: row;
    width: 80%; 
  }
  .class-container{
    margin: auto;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%; 
    margin-left: 140px;
  }

  .class-container h2{
      cursor: pointer;
  }
  .class-container h2:hover {
    transition-duration: 0.4s;
    color:#007bff;
  }
  .assign-container {
      display: flex;
      align-items: center;
      
  }

  .no-account{
      text-align: center;
  }

  .no-account a{
      text-decoration: underline;
      font-size: 18px;
      color: #007bff;
  }

  .have-account{
      text-align: center;
  }

  .have-account a{
    text-decoration: underline;
    font-size: 18px;
    color: #007bff;
}